.host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.desc {
  padding: 16px 0;
}
