.host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}

.overlay {
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal {
  position: relative;
  background: #fff;
  padding: 32px;
  border-radius: 4px;
  max-width: 600px;
  box-sizing: border-box;
  flex-basis: 100%;
  flex-grow: 1;
  height: 375px;
  z-index: 1;

  @media (max-width: 600px) and (orientation: portrait) {
    height: 100vh;
  }

  @media (orientation: landscape) {
    height: auto;
  }
}

.close {
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 16px;
  appearance: none;
  background: transparent;
  border: none;
  color: #ccc;
  transition: color 150ms ease-in-out;

  &:hover {
    color: #7b7b7b;
  }

  &:active {
    color: #555555;
  }
}
